@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
* {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100%;
}

.buscador {
    background-color: #303234;
    width: 300px;
    padding: 15px 10px 15px 10px ;
}

.sidenav-menu {
    width: 80%;
}

.form-control rounded {
    margin-bottom: 1em;
}

li {
    list-style: none;
    padding: 15px;
}

.sidenav-link {
    text-decoration: none;
    color: black;
}

#botonDesplegableBuscador {
    background-color: #ff9933;
}

.centrar-algo {
    text-align: center;
}