* {
    margin: 0;
    padding: 0;
}

.contenido {

}

.buscador {
    background-color: #ff9933;
    width: 300px;
    padding: 15px 10px 15px 10px ;
}

.sidenav-menu {
    width: 80%;
}

.form-control rounded {
    margin-bottom: 1em;
}